body, html {
    height: 100%;

    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.messages-area {
    background-color: dodgerblue;
    height: 100%;
    /*position: absolute;*/
    /*top: 52px;
    bottom: 0;
    right: 0;*/

    position: absolute;
    top: 52px;
    right: 0;

}

.messages-area h4 {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

    .messages-area .message {
        color: white;
        background-color: gainsboro;
        border: solid 1px #3d3d3d;
        margin-bottom: 10px;
        display: block!important;


        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

.messages-area .message .message-title {
    color: black;
    background-color: ActiveBorder;
    padding: 5px 3px 5px 3px;
    font-weight: bold;

}

.messages-area .message .message-body {
    margin: 5px 5px;
    color: black;

}

.message.ng-enter, .message.ng-enter.ng-enter-active  {
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    display: block!important;
}

.message.ng-leave, .message.ng-leave.ng-leave-active {
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;

    display: block!important;
}



